In [ ]:
import pandas as pd

# Replace with your actual file path
df = pd.read_csv("gpr_data.csv")

# Preview
df.head()

C:\Users\toazb\AppData\Local\Temp\ipykernel_22280\2318201946.py:4: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("gpr_data.csv")

,Theta_a1,Theta_b1,Theta_c1,Theta_a2,Theta_b2,Theta_c2,action1,Action_space1,action2,Action_space2,...,State1_x,State1_y,State1_v,State1_phi,State1_b,State2_x,State2_y,State2_v,State2_phi,State2_b
0,1.0,1.0,1.0,0.5,0.5,1.0,7,9,7,9,...,694.666228,749.956325,5.15,3.157236,0.0,902.745992,679.006152,5.15,2.467185,0.0
1,1.0,1.0,1.0,0.5,0.5,1.0,5,9,8,9,...,658.588143,749.391906,15.0,3.157236,0.008727,874.51982,701.571659,15.65,2.467185,0.008727
2,1.0,1.0,1.0,0.5,0.5,1.0,4,9,3,9,...,608.166329,736.507074,15.0,3.615414,0.0,809.373959,726.196425,22.5,3.0847,-0.008727
3,1.0,1.0,1.0,0.5,0.5,1.0,4,9,5,9,...,561.450188,712.551862,15.0,3.615414,0.0,738.390517,756.57192,22.5,2.397433,0.008727
4,1.0,1.0,1.0,0.5,0.5,1.0,5,9,5,9,...,514.734047,688.59665,15.0,3.615414,0.008727,667.177185,786.404468,22.5,3.0847,0.008727

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22159 entries, 0 to 22158
Columns: 506 entries, Theta_a1 to State2_b
dtypes: object(506)
memory usage: 85.5+ MB

In [4]:
print(df['Theta_a1'])

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
22154    1.0
22155    1.0
22156    1.0
22157    1.0
22158    1.0
Name: Theta_a1, Length: 22159, dtype: object

In [6]:
df['A1_1_1'].value_counts

<bound method IndexOpsMixin.value_counts of 0       -0.69006
1       -0.68552
2       -0.55686
3       -0.57022
4       -0.48061
          ...
22154    0.42778
22155    0.44501
22156    0.48943
22157    3.35048
22158     3.3505
Name: A1_1_1, Length: 22159, dtype: object>

In [8]:
df.describe()

,Theta_a1,Theta_b1,Theta_c1,Theta_a2,Theta_b2,Theta_c2,action1,Action_space1,action2,Action_space2,...,State1_x,State1_y,State1_v,State1_phi,State1_b,State2_x,State2_y,State2_v,State2_phi,State2_b
count,22159.0,22159.0,22159.0,22159.0,22159.0,22159.0,22159,22159,22159,22159,...,22159.000000,22159.000000,22159.0,22159.000000,22159.000000,22159.000000,22159.000000,22159.0,22159.000000,22159.000000
unique,14.0,19.0,21.0,4.0,3.0,3.0,18,3,19,3,...,16873.000000,16873.000000,22.0,5662.000000,7.000000,15103.000000,15103.000000,37.0,6689.000000,7.000000
top,1.0,1.0,1.0,0.5,0.5,1.0,5,9,5,9,...,611.263231,755.236637,15.0,3.165543,0.008727,595.509966,785.522558,22.5,3.007313,0.008727
freq,2200.0,2200.0,2066.0,20480.0,20480.0,20480.0,8518,20480,7534,20480,...,28.000000,28.000000,18075.0,28.000000,8843.000000,39.000000,39.000000,16474.0,39.000000,9182.000000